@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

/*common*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

body {
  margin: 0;
  height: 100%;
  background-color: #f2f2f2;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.section-title {
  margin: 0 auto 20px;
  max-width: 1000px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.section-description {
  margin: 0;
  text-align: center;
}

.button {
  padding: 8px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  font-family: inherit;
  border-radius: 4px;
}

/*header*/

.header {
  padding: 0 70px;
}

.navigation {
  display: flex;
}

.logo {
  display: block;
  margin: 0 28px 0 0;
}

.logo-image {
  display: block;
  position: relative;
  margin: 0 0 -6px 0;
}

.navigation-menu {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
}

.navigation-item {
  padding: 20px 16px;
  line-height: 22px;
}

.navigation-item--active {
  position: relative;
}

.navigation-item--active::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 16px;
  right: 16px;
  height: 2px;
  background-color: #756257;
}

.navigation-link {
  text-decoration: none;
  color: #000000;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.user-actions {
  margin: 0 0 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.user-action {
  text-decoration: none;
  min-width: 44px;
  min-height: 44px;
}

.user-action--search {
  background-image: url("../images/icons/search.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.user-action--favorite {
  background-image: url("../images/icons/favorites.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.user-action--button {
  margin: 0 0 0 20px;
  min-width: 160px;
  max-width: 320px;
  text-align: center;
  min-height: 36px;
}

.icon-quantity {
  background-color: #7db54f;
  color: #ffffff;
  border-radius: 50%;

  font-size: 10px;
  line-height: 10px;
  text-align: center;
  padding: 5px 0 0 0;

  display: block;
  width: 20px;
  height: 20px;

  position: absolute;
  top: 1px;
  right: 4px;
}

/*footer*/

.footer {}

.subscribe {
  padding: 96px 40px 104px;
}

.subscribe--accent {
  background-color: #4279a2;
  background-image: url("../images/background/subscribe.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  color: #ffffff;
}

.subscribe-title {
  color: inherit;
}

.subscribe-description {
  color: inherit;
  margin: 0 auto 55px;
  max-width: 650px;
}

.subscribe-form {
  margin: 0 auto;

  display: flex;
  justify-content: center;
}

.subscribe-field {}

.subscribe-input {
  background-color: #f2f2f2;
  font-family: inherit;
  border: none;
  font-size: 18px;
  line-height: 24px;
  padding: 14px 20px 14px 20px;
  min-width: 452px;
  border-radius: 4px 0 0 4px;
}

.subscribe-button {
  padding: 0;
  border: none;
  background-color: #82b3d3;
  border-radius: 0 4px 4px 0;
  min-width: 232px;
  font-size: 20px;
  line-height: 36px;
  font-family: inherit;
}

.footer-container {
  padding: 45px 70px 33px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social {
  margin: 0;
  padding: 0;
  list-style: none;
}

.social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.social-item {}

.social-link {
  display: block;
  width: calc(142px / 3);
  height: 40px;

  color: #83B3D3;

  mask-repeat: no-repeat;
  mask-position: center;

  background-color: currentColor;
  transition: color 0.2s ease, opacity 0.2s ease;
}

.social-link--vkontakte {
  mask-image: url("../images/icons/vkontakte.svg");
}

.social-link--telegram {
  mask-image: url("../images/icons/telegram.svg");
}

.social-link--youtube {
  mask-image: url("../images/icons/youtube.svg");
}

.social-link:hover,
.social-link:focus-visible {
  color: #68A2CA;
}

.social-link:active {
  color: #68A2CA;
  opacity: 0.3;
}

.footer-phone {
  margin: -1px 0 0 2px;
}

.phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
}

.footer-copyright {
  margin: 3px 0 0 0;
}

.copyright {}

.copyright-logo {}

/*index main*/

.main {
  flex: 1 0 auto;
}

.welcome {
  min-height: 485px;
  padding: 51px 51px 82px;
  background-color: #82b3d3;
  background-image: url("../images/background/welcome-overlay.svg"), url("../images/background/welcome-background.jpg");
  background-size: contain, cover;
  background-position: left bottom, center top;
  background-repeat: no-repeat;
}

.welcome-image {
  display: block;
  margin: 0 auto;
}

.reasons {
  padding: 69px 0 0 0;
}

.reasons-title {
  margin: 0 auto 25px;
}

.reasons-description {
  margin: 0 auto 90px;
}

.reasons-list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: grid;
  grid-template-columns: repeat(3, 1fr);

}

.reasons-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.reasons-item:nth-child(2n + 1):not(.reasons-item--has-image) {
  background-color: rgba(131, 179, 211, 0.2);
}

.reasons-item--has-image {
  background-color: #82b3d3;
  color: #ffffff;

  grid-column: 1 / -1;

  display: flex;
}

.reasons-item--reversed {
  flex-direction: row-reverse;
}

.reasons-card {}

.reason {
  padding: 112.5px 20px;
  color: #000000;
}

.reasons-item--has-image .reason {
  padding: 102px 20px;
  flex-grow: 1;
  color: #ffffff;
}

.reason-title {
  margin: 0 auto;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  width: min-content;

  color: inherit;
}

.reason-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 30px auto;
}

.reasons-item--has-image .reason-title::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.reason-description {
  margin: 0 auto;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  max-width: 240px;
}

.reason-image {
  display: block;
  object-fit: cover;
}

.recommendations {}

.recommendations-wrapper {
  padding: 64px 64px 64px 64px;
}

.recommendations-list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: grid;
  grid-template-columns: repeat(3, 1fr);

}

.recommendations-item {
  padding: 184px 85px 80px;
  background-color: #ffffff;
}

.recommendations-item:nth-child(2n + 1) {
  background-color: rgba(131, 179, 211, 0.12)
}

.recommendation {
  background-repeat: no-repeat;
  background-position: center 81px;
}

.recommendation--housing {
  background-image: url("../images/icons/housing.svg");
}

.recommendation--food {
  background-image: url("../images/icons/burger.svg");
}

.recommendation--souvenirs {
  background-image: url("../images/icons/gift.svg");
}

.recommendation-title {
  margin: 0 0 30px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;

  color: #000000;
}

.recommendation-text {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.search {
  padding: 96px;
}

.search-description {
  margin: 0 0 54px 0;
}

.search-button {
  display: block;
  text-align: center;
  width: fit-content;
  margin: 0 auto;

  font-size: 20px;
  line-height: 36px;
  padding: 8px 20px 8px 20px;
  border-radius: 4px;
  min-width: 376px;
}

/*catalog main*/

.main-header {
  padding: 35px 70px 70px;
  background-color: #82b3d3;
  color: #ffffff;
  background-image: url("../images/background/filter.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.main-title {
  margin: 0;

  font-weight: 700;
  font-size: 60px;
  line-height: 78px;

}

.breadcrumbs-navigation {}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs-item {}

.breadcrumbs-link {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;

}

.breadcrumbs-item--home {}

.filter {}

.filter-form {}

.filter-fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-title {
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

}

.filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-item {}

.field {}

.field-input {}

.field-label {
  font-size: 18px;
  line-height: 23px;
}

.range {}

.range-fields {}

.range-field {}

.range-title {}

.range-input {
  padding: 12px 20px;
  border: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #f2f2f2;
}

.range-input--from {
  border-radius: 4px 0 0 4px;
}

.range-input--to {
  border-radius: 0 4px 4px 0;
}

.range-slider {}

.slider {}

.slider-bar {}

.slider-handle {}

.filter-buttons {}

.filter-button {
  padding: 0;
  border: none;
  font-family: inherit;
}

.filter-submit {
  background-color: #82b3d3;
}

.filter-reset {
  background-color: transparent;
}

.results {}

.results-controls {}

.results-title {
  text-align: left;
}

.sorting {}

.sorting-select {
  padding: 14px 20px;
  font-family: inherit;

  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  min-width: 292px;
  font-size: 18px;
  line-height: 21px;
}

.sorting-button {}

.selector {
  margin: 0;
  padding: 0;
  list-style: none;
}

.selector-item {}

.selector-item--active {}

.selector-button {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  width: 48px;
  height: 48px;
}

.selector-button--current {
  border-color: #000000
}

.selector-button--tile {}

.selector-button--carousel {}

.selector-button--list {}

.results-list {}

.card {}

.card-title {
  margin: 0;
}

.card-link {
  text-decoration: none;
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;

}

.card-image {}

.card-description {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.card-housing-type {}

.card-price {}

.card-button {
  display: inline-block;
  border: none;
  padding: 8px;
  border-radius: 4px;
  min-width: 140px;
  text-align: center;
}

.card-button--favorite {}

.card-button--to-favorite {
  background-color: #82b3d3;

}

.card-star {
  margin: 0;
}

.star {}

.star--one {}

.star--two {}

.star--three {}

.star--four {}

.star--five {}

.card-rate {
  min-width: 140px;
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  padding: 9px 22px 8px 23px;
  margin: 0;
}

.pagination {}

.pagination-navigation {}

.pagination-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-item {
  background-color: #82B3D3;
  border-radius: 4px;
  text-align: center;
  width: 60px;
  color: #ffffff;
  font-weight: 700;
}

.pagination-item--active {
  background-color: #f2f2f2;
  color: #000000;
}

.pagination-link {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: 20px;
  line-height: 36px;
  padding: 12px 23px;
}

.pagination-item--ellipsis {
  background-color: transparent;
  color: #000000;
}
