@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

/*common*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

body {
  margin: 0;
  height: 100%;
  background-color: #f2f2f2;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.section-title {
  margin: 0 auto 20px;
  max-width: 1000px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.section-description {
  margin: 0 auto;
  text-align: center;
  max-width: 1000px;
}

.button {
  padding: 8px;
  border: none;
  border-radius: 4px;

  text-align: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-family: inherit;

  cursor: pointer;

  transition: background-color 0.2s ease;
}

.button--basic {
  background-color: #756157;
}

.button--alternate {
  background-color: #82b3d3;
}

.button--accent {
  background-color: #7db54f;
}

.button--ghost {
  max-width: 161px;
  background-color: transparent;
}

.button--basic:not(:disabled, .button--disabled):hover,
.button--basic:not(:disabled, .button--disabled):focus {
  background-color: #615048;
}

.button--alternate:not(:disabled, .button--disabled):hover,
.button--alternate:not(:disabled, .button--disabled):focus {
  background-color: #68a2ca;
}

.button--accent:not(:disabled, .button--disabled):hover,
.button--accent:not(:disabled, .button--disabled):focus {
  background-color: #6c9e42;
}

.button--ghost:not(:disabled, .button--disabled):hover {
  opacity: 0.6;
}

.button--ghost:not(:disabled, .button--disabled):focus {
  outline: 3px solid #83B3D3;
  outline-offset: -3px;
}

.button--basic:not(:disabled, .button--disabled):active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button--alternate:not(:disabled, .button--disabled):active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.button--accent:not(:disabled, .button--disabled):active {
  background-color: #7db54f;
  color: rgba(255, 255, 255, 0.3);
}

.button--ghost:not(:disabled, .button--disabled):active {
  color: rgba(255, 255, 255, 0.3);
}

.button--basic:disabled,
.button--alternate:disabled,
.button--accent:disabled {
  background-color: #e5e5e5;
  color: rgba(255, 255, 255, 0.3);
}

.button--ghost:disabled {
  color: rgba(255, 255, 255, 0.1);
}

/*  для отключения кнопки - атрибут disabled,
    для ссылки - класс и tab index инлайн */
.button:disabled,
.button--disabled,
.button--disabled:hover,
.button--disabled:focus,
.button--disabled:active {
  background-color: #e5e5e5;
  pointer-events: none;
  outline: none;
}

/*header*/

.header {
  position: relative;
  padding: 0 70px;
}

.logo {
  position: absolute;
  transition: filter 0.2s ease;
}

.logo:hover {
  filter: brightness(1.04);
}

.logo:active {
  opacity: 0.8;
}

.navigation {
  display: flex;
  align-items: flex-start;
  padding: 0 0 0 168px;
}

.navigation-menu {
  margin: 0 30px 0 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
}

.navigation-link {
  display: block;
  padding: 20px 16px;

  text-decoration: none;
  color: #000000;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;

  transition: color 0.2s ease;
}

.navigation-link--current {
  position: relative;
  cursor: default;
}

.navigation-link--current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 16px;
  right: 15px;
  height: 2px;
  background-color: #756257;
}

.navigation-link:not(.navigation-link--current):hover,
.navigation-link:not(.navigation-link--current):focus {
  color: #756157;
}

.navigation-link:not(.navigation-link--current):active {
  color: rgba(117, 97, 87, 0.3);
}

.user-actions {
  margin: 0 0 0 auto;
  padding: 10px 0 10px;
  max-width: 360px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}

.user-action--icon {
  min-width: 44px;
  min-height: 44px;

  transition: color 0.2s ease;
}

.user-action--search {
  position: relative;
  color: #000000;
}

.user-action--search::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;

  color: inherit;
  background-color: currentColor;
  mask: url("../images/icons/search.svg") no-repeat center;
}

.user-action--icon:hover,
.user-action--icon:focus {
  color: #756157;
}

.user-action--icon:active {
  color: rgba(117, 97, 87, 0.3);
}

.user-action--favorite {
  position: relative;
  color: #000000;
}

.user-action--favorite::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;

  color: inherit;
  background-color: currentColor;
  mask: url("../images/icons/favorites.svg") no-repeat center;
}

.user-action--favorite:active .icon-quantity {
  background-color: #a1ca7d;
}

.icon-quantity {
  background-color: #7db54f;
  color: #ffffff;
  border-radius: 50%;

  font-size: 10px;
  line-height: 10px;
  text-align: center;
  padding: 5px 2px 5px 2px;

  display: block;
  min-width: 20px;
  aspect-ratio: 1 / 1;

  position: absolute;
  top: 1px;
  right: 4px;
}

.user-action--button {
  margin: 0 0 0 20px;
  min-width: 160px;
  max-width: 320px;
  min-height: 36px;
}

/*footer*/

.subscribe {
  padding: 96px 40px 104px;
  color: #000000;
}

.subscribe--accent {
  background-color: #4279a2;
  background-image: url("../images/background/subscribe.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  color: #ffffff;
}

.subscribe-title {
  color: inherit;
}

.subscribe-description {
  color: #333333;
  margin: 0 auto 55px;
  max-width: 650px;
}

.subscribe--accent .subscribe-description {
  color: #ffffff;
}

.subscribe-form {
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr auto;
  width: 684px;
}

.subscribe-input {
  background-color: #f2f2f2;
  font-family: inherit;
  border: none;
  font-size: 18px;
  line-height: 24px;
  padding: 14px 20px 14px 20px;
  border-radius: 4px 0 0 4px;

  transition: background-color 0.2s ease;
}

.subscribe-input:hover {
  background-color: #e5e5e5;
}

.subscribe-input:focus {
  background-color: #e5e5e5;
  outline: 3px solid #83B3D3
}

.subscribe-button {
  min-width: 232px;
  max-width: 300px;

  border-radius: 0 4px 4px 0;

  font-size: 20px;
  line-height: 36px;
}

.footer-container {
  padding: 25px 70px 11px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start
}

.footer-social {
  margin: 20px 20px 0 0;
  padding: 0;
  list-style: none;
}

.social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 250px;
}

.social-link {
  position: relative;
  display: block;
  width: calc(142px / 3);
  height: 40px;

  color: #83B3D3;

  transition: color 0.2s ease;
}

.social-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;

  mask-repeat: no-repeat;
  mask-position: center;

  background-color: currentColor;
  transition: color 0.2s ease, opacity 0.2s ease;
}

.social-link--vkontakte::before {
  mask-image: url("../images/icons/vkontakte.svg");
  mask-size: 24px 14px;
}

.social-link--telegram::before {
  mask-image: url("../images/icons/telegram.svg");
  mask-size: 18px 16px;
}

.social-link--youtube::before {
  mask-image: url("../images/icons/youtube.svg");
  mask-size: 22px 17px;
}

.social-link:hover,
.social-link:focus-visible {
  color: #68A2CA;
}

.social-link:active {
  color: #68A2CA;
  opacity: 0.3;
}

.telephones {
  margin: 0;
  padding: 0;
  list-style: none;
  min-width: 400px;
  text-align: center;
}

.telephones-link {
  display: block;
  padding: 20px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;

  transition: color 0.2s ease;
}

.telephones-link:hover,
.telephones-link:focus {
  color: #756157;
}

.telephones-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-copyright {
  margin: 0 -23px 0 -5px;
}

.copyright {
  padding: 23px;
  color: #000000;
  transition: color 0.2s ease;
}

.copyright-logo {
  color: inherit;
}

.copyright:hover,
.copyright:focus {
  color: #756157;
}

.copyright:active {
  color: rgba(117, 97, 87, 0.3);
}

/*index main*/

.main {
  flex: 1 0 auto;
}

.welcome {
  min-height: 485px;
  padding: 51px 51px 82px;
  background-color: #2f4e15;
  background-image: url("../images/background/welcome-overlay.svg"), url("../images/background/welcome-background.jpg");
  background-size: contain, cover;
  background-position: left bottom, center top;
  background-repeat: no-repeat;
  color: #f2f2f2;
}

.welcome-image {
  display: block;
  margin: 0 auto;
}

.reasons {
  padding: 69px 0 0 0;
}

.reasons-title {
  margin: 0 auto 25px;
}

.reasons-description {
  margin: 0 auto 90px;
}

.reasons-list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: grid;
  grid-template-columns: repeat(3, 1fr);

}

.reasons-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.reasons-item:nth-child(2n + 1):not(.reasons-item--has-image) {
  background-color: rgba(131, 179, 211, 0.2);
}

.reasons-item:not(.reasons-item--has-image) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reasons-item--has-image {
  background-color: #82b3d3;
  color: #ffffff;

  grid-column: 1 / -1;

  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "card image";
}

.reasons-item--reversed {
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "image card";
}

.reason {
  padding: 112.5px 20px;
  color: #000000;
}

.reasons-item--has-image .reason {
  padding: 103px 20px 101px;
  color: #ffffff;

  grid-area: card;
}

.reason-title {
  margin: 0 auto;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  width: min-content;

  color: inherit;
}

.reason-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 30px auto;
}

.reasons-item--has-image .reason-title::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.reason-description {
  margin: 0 auto;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  max-width: 240px;
}

.reason-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;

  grid-area: image;
}

.recommendations-wrapper {
  padding: 64px 64px 64px 64px;
}

.recommendations-list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.recommendations-item {
  padding: 184px 85px 80px;
  background-color: #ffffff;
}

.recommendations-item:nth-child(2n + 1) {
  background-color: rgba(131, 179, 211, 0.12)
}

.recommendation {
  background-repeat: no-repeat;
  background-position: center 81px;
}

.recommendation--housing {
  background-image: url("../images/icons/housing.svg");
}

.recommendation--food {
  background-image: url("../images/icons/burger.svg");
  background-position: center 82px;
}

.recommendation--souvenirs {
  background-image: url("../images/icons/gift.svg");
  background-position: center 79px;
}

.recommendation-title {
  margin: 0 0 29px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;

  color: #000000;
}

.recommendation-text {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.search {
  padding: 97px 96px 96px;
}

.search-description {
  margin: 0 auto 54px;
}

.search-button {
  display: block;
  margin: 0 auto;

  font-size: 20px;
  line-height: 36px;
  max-width: 376px;
}

/*catalog main*/

.main-header {
  padding: 35px 70px 70px;
  background-color: #2f4e15;
  color: #ffffff;
  background-image: url("../images/background/filter.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.main-title {
  margin: 0;

  font-weight: 700;
  font-size: 60px;
  line-height: 78px;

}

.breadcrumbs-navigation {
  margin: 0 0 32px 0;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs-item {
  line-height: 16px;
}

.breadcrumbs-item:first-child {
  margin: 0 0 0 -8px;
}

.breadcrumbs-item:not(:last-child) {
  padding: 0 13px 0 0;
  background-image: url("../images/icons/chevron-right.svg");
  background-repeat: no-repeat;
  background-position: right 2px center;
}

.breadcrumbs-link {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;

  transition: opacity 0.2s ease;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.breadcrumbs-link--home {
  display: block;
  width: 28px;
  height: 35px;
  margin: 0;
  background-image: url("../images/icons/home.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.filter-form {
  display: grid;
  grid-template-columns: 200px 200px 1fr 241px;
  gap: 20px;
}

.filter-fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-fieldset--price {
  margin: 0 0 0 71px;
}

.filter-title {
  padding: 0;
  margin: 0 0 29px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-item:not(:last-child) {
  margin: 0 0 13px 0;
}

.field {
  transition: opacity 0.2s ease;
}

.field-input {
  margin: 0;
  opacity: 0;
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.field-label {
  position: relative;
  padding: 0 0 0 36px;
  font-size: 18px;
  line-height: 23px;

  cursor: pointer;
}

.field-label::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #ffffff;
}

.field-input:focus + .field-label::before {
  outline: 3px solid #82b3d3;
}

.field-input[type="radio"] + .field-label::before {
  border-radius: 50%;
}

.field-input[type="checkbox"]:checked + .field-label::after {
  content: "";
  position: absolute;
  top: 7px;
  left: 4px;
  width: 12px;
  height: 10px;
  background-image: url("../images/icons/check.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.field-input[type="radio"]:checked + .field-label::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3f5e72;
}

.field-input:not(:disabled) + .field-label:hover {
  opacity: 0.6;
}

.field-input:not(:disabled) + .field-label:active {
  opacity: 0.3;
}

.field-input:disabled + .field-label {
  opacity: 0.2;
}

.range {
  padding: 3px 0 0 0;
}

.range-fields {
  margin: 0 0 44px;
  display: flex;
  gap: 2px;
}

.range-field {
  position: relative;
  flex-grow: 1;
}

.range-title {
  position: absolute;
  right: 20px;
  top: 13px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
  pointer-events: none;
}

.range-input {
  width: 100%;
  padding: 13px 20px 11px;
  border: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  background-color: #f2f2f2;
  appearance: textfield;

  transition: background-color 0.2s ease;
}

.range-input::-webkit-inner-spin-button,
.range-input::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

.range-input:not(:disabled):hover {
  background-color: #e5e5e5;
}

.range-input:not(:disabled):focus {
  background-color: #e5e5e5;
  outline: 3px solid #83b3d3;
}

.range-input:disabled {
  background-color: rgba(117, 98, 87, 0.4);
  color: rgba(0, 0, 0, 0.3);
}

.range-input--from {
  border-radius: 4px 0 0 4px;
}

.range-input--to {
  border-radius: 0 4px 4px 0;
}

.slider {
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.slider-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  background-color: #ffffff;
}

.slider-handle {
  position: relative;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.slider-handle::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  background-color: transparent;
  pointer-events: all;
}

.slider-handle:not(:disabled):hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.slider-handle:not(:disabled):focus {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  outline: 3px solid #83B3D3
}

.slider-handle:not(:disabled):active {
  box-shadow: 0 7px 15px 0 #00000066;
  outline: 2px solid #83B3D3
}

.slider-handle:disabled {
  background-color: #d2d2d2;
  cursor: default;
}

.filter-buttons {
  margin: 56px 0 0 50px;
}

.filter-button {
  display: block;
  margin: 0 auto;
  width: 100%;
  border: none;
  font-family: inherit;
}

.filter-button:not(:last-child) {
  margin: 0 0 32px;
}

.results {
  padding: 50px 70px 60px;
}

.results-controls {
  display: flex;
  margin: 0 0 40px;
}

.results-title {
  margin: 0 20px 0 0;
  align-self: center;
}

.sorting {
  position: relative;
  margin: 0 0 0 auto;
}

.sorting-select {
  position: relative;
  padding: 12px 40px 12px 18px;
  font-family: inherit;

  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  min-width: 292px;
  font-size: 18px;
  line-height: 21px;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../images/icons/chevron-down.svg");
  background-repeat: no-repeat;
  background-position: right 18px center;
}

.sorting-select:hover,
.sorting-select:focus {
  outline: 2px solid #68a2ca;
  outline-offset: -2px;
}

.sorting-select:disabled {
  border-color: #000000;
  color: #000000;
  opacity: 0.3;
  outline: none;
  pointer-events: none;
}

.selector {
  margin: 0 0 0 70px;
  padding: 0;

  align-self: start;

  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  list-style: none;
}

.selector-button {
  display: block;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  width: 48px;
  height: 48px;

  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

  transition: border-color 0.2s ease;
}

.selector-button--current {
  border-color: #000000;
  pointer-events: none;
}

.selector-button:hover {
  border-color: #000000;
}

.selector-button:focus {
  outline: 2px solid #68a2ca;
  outline-offset: -2px;
}

.selector-button:active {
  outline: none;
  border-color: #000000;
}

.selector-button--tile {
  background-image: url("../images/icons/view-tiles.svg");
}

.selector-button--carousel {
  background-image: url("../images/icons/view-carousel.svg");
}

.selector-button--list {
  background-image: url("../images/icons/view-list.svg");
}

.results-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  padding: 0 0 40px 0;
  border-bottom: 1px solid #e5e5e5;
  margin: 0 0 39px 0;
}

.card {
  position: relative;
  outline: 1px solid #e5e5e5;
  border-radius: 4px;

  max-width: 340px;
  padding: 20px;

  display: grid;
  gap: 0 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content 1fr min-content min-content min-content;
  grid-template-areas:
    "image image"
    "title title"
    "housing-type price"
    "button-details button-favorite"
    "stars rate";

  transition: box-shadow 0.2s ease;
}

.card:hover {
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.card-title {
  margin: 0 0 15px 0;
  grid-area: title;
}

.card-link {
  position: static;
  text-decoration: none;
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.card-link::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.card-image {
  display: block;
  grid-area: image;
  margin: 0 0 17px 0;
}

.card-housing-type {
  grid-area: housing-type;
  font-size: 18px;
  line-height: 21px;
  margin: 0 0 16px 0;
}

.card-price {
  grid-area: price;
  justify-self: end;
  font-size: 18px;
  line-height: 21px;
  margin: 0 0 16px 0;
}

.card-button {
  position: relative;
  z-index: 2;
  grid-area: button-details;

  min-width: 140px;
  height: fit-content;

  margin: 0 0 16px;
  align-self: center;
}

.card-button--favorite {
  grid-area: button-favorite;
}

.card-star {
  grid-area: stars;
  margin: 0;
}

.star {
  width: 24px;
  margin: 0;
  min-height: 37px;

  background-repeat: repeat-x;
  background-position: 0 50%;
  background-size: 24px 17px;
  background-image: url("../images/icons/star.svg");
}

.star--one {
  width: 24px;
}

.star--two {
  width: 48px;
}

.star--three {
  width: 72px;
}

.star--four {
  width: 96px;
}

.star--five {
  width: 120px;
}

.card-rate {
  grid-area: rate;
  min-width: 140px;
  text-align: center;
  background-color: #f2f2f2;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  padding: 9px 22px 8px 23px;
  margin: 0;
}

.pagination-list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.pagination-link {
  display: block;
  padding: 0 12px;
  min-width: 60px;

  font-weight: 700;
  color: #ffffff;

  background-color: #82b3d3;
  border: 1px solid #82b3d3;
  border-radius: 4px;

  transition: background-color 0.2s ease, border-color 0.2s ease;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  line-height: 58px;
}

.pagination-item--active .pagination-link {
  cursor: default;
  background-color: #f2f2f2;
  color: #000000;
  border: 1px solid #f2f2f2;
}

.pagination-item--ellipsis .pagination-link {
  background-color: transparent;
  color: #000000;
  border: 1px solid transparent;
  font-size: 22px;
  font-weight: 400;
}

.pagination-item:not(.pagination-item--active, .pagination-item--ellipsis) .pagination-link:hover,
.pagination-item:not(.pagination-item--active, .pagination-item--ellipsis) .pagination-link:focus {
  background-color: #68a2ca;
}

.pagination-item--ellipsis .pagination-link:hover,
.pagination-item--ellipsis .pagination-link:focus {
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-item--active .pagination-link:active {
  color: #000000;
}

.pagination-item--ellipsis .pagination-link:active {
  color: rgba(0, 0, 0, 0.6);
}

/* Modal */

.modal-overlay {

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-overlay--hidden {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-close-button {
  position: absolute;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;

  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.modal-close-button::after,
.modal-close-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 2px;
  background-color: #000000;
  transform: translate(-50%, -50%) rotate(45deg);
}

.modal-close-button::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.modal-title {
  text-align-last: left;
  margin: 0 0 64px;
}

.search-form {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.field-date {
  display: grid;
  grid-template-columns: 137px 440px;
  grid-template-rows: auto minmax(21px, auto);
  gap: 4px 0;
  align-items: center;
}

.field-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.field-title--with-tooltip {
  display: flex;
  align-items: center;
  gap: 10px;
}

.date-input {
  padding: 13px 60px 11px 20px;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  background-color: #f2f2f2;
  background-image: url("../images/icons/calendar.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
}

.field-message {
  grid-column: 2 / -1;
  padding: 0 0 0 20px;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}

.field-message--error {
  color: #ff5757;
}

.field-message--guests {
  grid-column: 1 / -1;
}

.field-guests {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.field-people {
  display: grid;
  grid-template-columns: 137px auto;
  grid-template-rows: auto minmax(21px, auto);
  gap: 4px 0;
  align-items: center;
}

.field-people--adults {}

.field-people--children {
  grid-template-columns: 131px auto;
  justify-self: end;
}

.guests-quantity {
  display: grid;
  grid-template-columns: 40px 30px 40px;
  min-height: 48px;
}

.quantity-button {
  grid-row: 1 / -1;
  position: relative;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  align-self: center;
  justify-self: center;

  background-repeat: no-repeat;
  background-position: center;
}

.quantity-button::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 48px;
  background-color: transparent;
  pointer-events: all;
}

.quantity-button:focus {
  outline: 3px solid #83b3d3;
}

.quantity-button--minus {
  grid-column: 1 / 2;
  background-image: url("../images/icons/minus.svg");

}

.quantity-button--plus {
  grid-column: -2 / -1;
  background-image: url("../images/icons/plus.svg");
}

.quantity-input {
  padding: 10px 8px 8px 8px;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
  text-align: center;
  font-family: inherit;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;

  appearance: none;
}

.quantity-input::-webkit-outer-spin-button,
.quantity-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.quantity-input:focus {
  outline-offset: 1px;
}

.modal-submit {
  font-size: 20px;
  line-height: 24px;
  padding: 18px;
  border-radius: 10px;
}

.tooltip {
  position: relative;
  width: 26px;
  height: 26px;
  background-color: #83B3D3;
  border-radius: 50%;
  border: none;
  cursor: pointer;

  background-image: url("../images/icons/info.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.tooltip-text {
  display: none;
  position: absolute;

  top: 41px;
  left: 50%;
  transform: translateX(-50%);
  width: 256px;
  background-color: #333333;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 20px 18px 23px 22px;
  color: #ffffff;
  text-align: left;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.tooltip-text::before {
  content: "";
  position: absolute;
  top: -9px;
  left: 50%;
  transform: translateX(-50%);
  width: 19px;
  height: 9px;
  background-image: url("../images/icons/tooltip-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.tooltip:hover .tooltip-text,
.tooltip:focus .tooltip-text {
  display: block;
}
